MONGODB_URI="mongodb://localhost:27017/mongodb"
JWT_SECRET="seujwt"
PORT="3001"
WORDS_JSON_URL='https://github.com/dwyl/english-words/blob/master/words_dictionary.json'
REDIS_URL="redis://localhost:6379"
DICTIONARY_API_URL='https://api.dictionaryapi.dev/api/v2/entries/en/'